body {
    background-color: #c999fc;
}



h1 {
    color: #9bffdc;
    font-size: 80px;
    font-family: 'Baloo Bhaijaan', cursive;
}

p {
    color: #8830db;
    font-size: 20px;
    font-family: 'Boogaloo', cursive;
}